
<div class="container">
	<%= render :partial => "header" %>
  

	

  <div class="jumbotron"> 
    <h1>BrandedBar</h1>
    <p class="lead">
    	Want to wear luxury goods, but no budget yet? Worry not. Here at branded bag,we source the pre-owned, good condition luxury goods. 

			Get yours here! 
    </p>
    <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Bid today</a></p> -->
  </div>

  <div class="row marketing about_us">
	
	<h1>Who are BrandedBar?</h1>
	
		<h4>Hendrik Teng</h4>
		<p>Super Hustler.</p>
		
		<h4>Hartanto</h4>
		<p>Merchandising dude. With vast amount of contacts in his phone book, another branded pre-owned goods are just a phonecall away.</p>
		
		<h4>Shinta Haryani</h4>
		<p>Our marketing milf. Whatever you've read about us in the social media is her creation.</p>
		 

       
    </div>
  </div>

  <div class="footer">
    <p>© Company 2014</p>
  </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript